  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Data Produk</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Data Produk</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="mt-4">
                <div class="btn btn-primary btn-lg btn-flat">
                  <i class="fas fa-cart-plus fa-lg mr-2"></i> 
                  TAMBAH DATA PRODUK
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th>Nama Produk</th>
                    <th>Kategori</th>
                    <th>Gambar Produk</th>
                    <th>Harga Normal</th>
                    <th>Harga Diskon</th>
                    <th>Aksi</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                    <td>Trident</td>
                    <td>Internet
                    Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td>X</td>
                    </tr>
                
                    <tr>


                    <td>Trident</td>
                    <td>Internet
                    Explorer 5.0
                    </td>
                    <td>Win 95+</td>
                    <td>Win 95+</td>
                    <td>5</td>
                    <td>C</td>
                    </tr>
                  </tbody>

                  <tfoot>
                    <tr>
                        <th>Nama Produk</th>
                        <th>Kategori</th>
                        <th>Gambar Produk</th>
                        <th>Harga Normal</th>
                        <th>Harga Diskon</th>
                        <th>Aksi</th>
                    </tr>
                  </tfoot>
                </table>
      </div>
      <!-- /.card-body -->
      </div>
      <!-- /.card -->
      </div>
      <!-- /.col -->
      </div>
      <!-- /.row -->
      </section>
      <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
